.menu {
  > li[role="menuitem"] {
     a {
       color: #4d4d4d;
       font-size: 0.75rem;
     }
  }
}

.top-bar-right {
  button {
    margin: 0 0.25rem;
  }
}

#main {
  background: url(../img/home-main-bg.png) no-repeat top center;
  .slide-overlay {
    position: absolute;
    top: 52px;
    left: 50%;
    margin-left: -$global-width/2;
    z-index: 100;
  }
  .orbit {
    .orbit-container {
      .above-overlay {
        z-index: 101; /*+1 to .slide-overlay */
      }
    }
  }
  #how-it-works {
    .icons {
      position: relative;
      display: flex;
      color: $white;
      .icon-number {
        font-weight: bold;
        position: absolute;
        top: 0;
        left: 20%;
        h2 {
          font-weight: bold;
        }
      }
      .icon {
        width: 100%;
        text-align: center;
      }
    }
  }
}

.section-title {
  margin: 50px 0;
}

.title-white {
  color: $white;
  text-align: center;
}

.success-btn {
  background: linear-gradient(90deg, #f9014d, #93278f) no-repeat;
}
