.menu {
  > li[role="menuitem"] {
     a {
       color: $menu-gray;
       font-size: 0.75rem;
     }
  }
}

.top-bar-right {
  button {
    margin: 0.25rem;
  }
}

#main {
  background: url(../img/home-main-bg.png) no-repeat top center;
  .slide-overlay {
    position: absolute;
    top: 52px;
    left: 50%;
    margin-left: -$global-width/2;
    z-index: 100;
  }
  .orbit {
    .orbit-container {
      .above-overlay {
        z-index: 101; /*+1 to .slide-overlay */
      }
      .slide1-caption {
        position: absolute;
        left: 0;
        top: 25%;
        color: $text-gray;
        .slide-caption-first {
          font-size: 2.32rem;
        }
        button {
          width: 12.25rem;
          font-size: 1.33rem;
        }
      }
      .slide2-caption {
        position: absolute;
        left: 0;
        top: 35%;
        color: $white;
        text-align: center;
        .slide-caption-first {
          font-size: 2.32rem;
        }
        button {
          width: 12.25rem;
          font-size: 1.33rem;
        }
      }
    }
  }
  #how-it-works {
    /*background-image: url(../img/bg-gradient.png);
    background-repeat: repeat-y;
    background-position: top center;*/
    .icons {
      position: relative;
      display: flex;
      color: $white;
      .icon-number {
        font-weight: bold;
        position: absolute;
        top: 0;
        left: 20%;
        h2 {
          font-weight: bold;
        }
      }
      .icon {
        width: 100%;
        text-align: center;
      }
    }
  }
  #where-can-i-use {
    margin-top: 20rem;
    > div:first-child {
      padding-bottom: 0;
    }
    .see-all {
      text-align: center;
    }
    .partners {
      padding: 3rem 0 9rem;
      text-align: center;
      .logos {
        display: inline;
        a {
          line-height: 7rem;
          img {
            padding: 1rem 2rem;
          }
          &.netflix {
            background: url(../img/netflix-hover.png) center no-repeat;
            height: 7rem !important;
          }
          &:hover {
            img {
              opacity: 0;
            }
          }
        }
      }
    }
  }
  #call-to-action {
    padding: 5.125rem 0 2.75rem;
    background-image: url("../img/bg-bottom.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    text-align: center;
    .cta-body {
      .cta-button {
        button {
          margin-bottom: 0.5rem;
          padding-top: 1.25rem;
          padding-bottom: 1.25rem;
        }
      }
      .cta-description {
        color: $white;
        font-size: 1.33rem;
      }
    }
  }
}

.section-title {
  padding: 50px 0;
  text-align: center;
}

.title-white {
  color: $white;
}

.title-pink {
  color: $text-pink;
}

.success-btn {
  background: linear-gradient(90deg, $gradient-from, $gradient-to) no-repeat;
}
