.my-zone {
	padding: 3.75rem 0 5rem;
	color: $text-gray;
	.profile-main {
		max-width: 16rem;
		.profile-head {
			background: url("../img/bg-profile-head.png") center transparent;
			background-repeat: no-repeat;
			background-size: auto 100%;
			height: 6rem;
			position: relative;
			border-top-left-radius: 0.5rem;
			border-top-right-radius: 0.5rem;
			.profile-photo {
				height: 6.5625rem;
				width: 6.5625rem;
				border-radius: 6.5625rem;
				overflow: hidden;
				position: absolute;
				top: 45%;
				left: 50%;
				margin-left: -3.28125rem;
				img {
				}
			}
		}
		.profile-name {
			text-align: center;
			background: $white;
			padding-top: 4.25rem;
			padding-bottom: 1.5rem;
			h4 {
				font-size: 1.5rem;
				margin: 0;
			}
			a {
				font-size: 0.75rem;
				text-decoration: underline;
			}
		}
		.profile-credit {
			background: $white;
			text-align: center;
			h4 {
				font-size: 0.75rem;
				color: $title-gray;
				text-transform: uppercase;
				font-weight: bold;
			}
			span {
				font-size: 2.625rem;
				line-height: 3rem;
			}

		}
		.profile-add-funds {
			padding: 1rem 2.75rem 2rem;
			background: $white;
			border-bottom-left-radius: 0.5rem;
			border-bottom-right-radius: 0.5rem;
			a {
					font-size: 0.65rem;
					line-height: 0.85rem;				
			}
		}
	}
	.month-used {
		margin-top: 1.25rem;
		padding: 1.875rem 1.5rem 1rem;
		max-width: 16rem;
		background: $white;
		border-radius: 0.5rem;
		.month-title {
			text-align: center;
			h4 {
				font-size: 0.75rem;
				color: $title-gray;
				text-transform: uppercase;
				font-weight: bold;
			}
		}
		.month-value {
			margin-bottom: 1rem;
			text-align: center;
			h3 {
				font-size: 1.5rem;
				color: $text-pink;
				margin-bottom: 0.25rem;
			}
			span {
				font-size: 0.75rem;
			}
			.progress {
				border: 1px solid $text-pink;
				margin-bottom: 0;
				.progress-meter {
					background: $gradient-red;
				}
			}
		}
		.month-edit-limit {
			a {
				font-size: 0.75rem;
				text-decoration: underline;
			}
		}
	}
	.my-zone-main {
		background: $white;
		padding: 2.5rem 0 0;
		border-radius: $global-radius*2;
		margin-bottom: 2rem;
		table {
			border-collapse: inherit;
			text-align: left;
			margin-bottom: 0;
			tfoot {
				background: transparent;
				tr {
					td {
						color: $black;
						text-transform: uppercase;
						line-height: 2.5rem;
						border-top: 2px solid $light-gray;
					}
				}					
			}
			tr {
			background: transparent;
				th {
					padding: 0.2rem 1rem 0.2rem 2.5rem;					
					font-size: 0.6875rem;
					font-weight: normal;
					text-transform: uppercase;
					color: $black;
					line-height: 2.25rem;
					border-top: 2px solid $light-gray;
					border-bottom: 2px solid $light-gray;
				}
				> th:first-child {
					width: 13%;
				}
				> th:nth-child(2) {
					width: 30%;
				}
				> th:nth-child(3) {
					width: 22%;
				}
				> th:nth-child(4) {
					width: 14%;
				}
				> th:nth-child(5) {
					width: 16%;
				}
				td {
					font-size: 0.6875rem;
					padding: 0.2rem 1rem 0.2rem 2.5rem;
					color: $title-gray;
					line-height: 2.5rem;
				}
				> td:first-child {
					width: 14%;
				}
				> td:nth-child(2) {
					width: 31%;
				}
				> td:nth-child(3) {
					width: 23%;
				}
				> td:nth-child(4) {
					width: 15%;
				}
				> td:nth-child(5) {
					width: 15%;
				}
			}
		}
		h4 {
			font-size: 1rem;
			text-transform: uppercase;
			font-weight: bold;
			margin-bottom: 1rem;
		}
		.my-zone-top {
			margin-bottom: 3.75rem;
			padding: 0 2.5rem !important;
			.this-month {
				position: relative;
				> div {
					padding: 0;
				}
				h4 {
					margin-bottom: 0;
				}
				span {
					font-size: 0.75rem;
					color: $menu-gray;
				}
				.graphic {
					height: 11.125rem;
					width: 11.125rem;
					margin-top: 2rem;
					background: conic-gradient(#ed1e79 30%, #29abe2 0 43%, #93278f 0);
					border-radius: 50%;
				}
				.chart-key {
					position: absolute;
					color: $title-gray;
					font-size: 1rem;
					text-align: center;
					&.netflix-key {
						top: 30%;
						left: 60%;
					}
					&.hbo-key {
						top: 90%;
						left: 60%;
					}
					&.hulu-key {
						top: 60%;
						left: 10%;
					}
					h4 {
						margin-bottom: 0;
					}
				}
			}
			.usage {
				border-left: 2px solid $light-gray;
				padding-left: 4rem;
				.current-cycle {
					padding-bottom: 4rem;
					.current-cycle-value {
						font-size: 2.625rem;
						line-height: 2.5rem;
   						margin: 1.25rem 0 0rem;
					}
					.current-cycle-saved {
						font-size: 1rem;
						color: map-get($foundation-palette, success);
						font-weight: bold;
					}
				}
				.past-usage {
					table {
						tr{
							td {
								font-size: 1rem;
								padding: 0.2rem 0;
								color: $title-gray;
							}
						}
					}
				}
			}
		}
		.watched {
			h4 {
			padding-left: 2.5rem;
			padding-right: 2.5rem;
			}
			.table-watched {
				.watched-scroll {
					max-height: 17rem;
					overflow-y: scroll;
				}
			}
		}
	}
	.my-zone-billing {
		background: $white;
		padding: 0 0 0.5rem;
		border-radius: $global-radius*2;
		.billing-history {
			.table-billing {
				max-height: 11rem;
				overflow-y: scroll;
				&::-webkit-scrollbar-track {
				    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
				    border-radius: 10px;
				}
			}
				table {
					border-collapse: inherit;
					text-align: left;
					margin-bottom: 0;
					tfoot {
						background: transparent;
						tr {
							td {
								color: $black;
								text-transform: uppercase;
							}
						}					
					}
					tr {
					background: transparent;
						th {
							padding: 0.2rem 1rem 0.2rem 2.5rem;					
							font-size: 0.6875rem;
							font-weight: normal;
							text-transform: uppercase;
							color: $black;
							line-height: 2.25rem;
							border-top: 2px solid $light-gray;
							border-bottom: 2px solid $light-gray;
						}
						> th:first-child {
							width: 23%;
						}
						> th:nth-child(2) {
							width: 28%;
						}
						> th:nth-child(3) {
							width: 13%;
						}
						> th:nth-child(4) {
							width: 14%;
						}
						> th:nth-child(5) {
							width: 16%;
						}
						td {
							font-size: 0.6875rem;
							padding: 0.2rem 1rem 0.2rem 2.5rem;
							color: $title-gray;
							line-height: 2.5rem;
						}
						> td:first-child {
							width: 25%;
						}
						> td:nth-child(2) {
							width: 30%;
						}
						> td:nth-child(3) {
							width: 15%;
						}
						> td:nth-child(4) {
							width: 15%;
						}
						> td:nth-child(5) {
							width: 15%;
						}
					}
				}
		}
		h4 {
			font-size: 1rem;
			text-transform: uppercase;
			font-weight: bold;
			margin: 1rem 0;
			padding-left: 2.5rem;
			padding-right: 2.5rem;
		}
	}
}