<div class="row billing-body">
  <div class="large-4 large-offset-2 columns">
    <img src="assets/img/signup-img.png"></img>
  </div>
  <div class="large-5 large-offset-1 columns">
    <form class="row large-8 billing-form">
      <div class="large-12 columns form-title">
        <h5>Enter Billing Adress</h5>
      </div>
      <div class="large-12 columns row input-adress-1">
        <input type="text" placeholder="Adress line 1">
      </div>
      <div class="large-12 columns row input-adress-2">
        <input type="text" placeholder="Adress line 2">
      </div>
      <div class="large-12 columns row">
        <input type="text" placeholder="City">
      </div>
      <div class="large-6 columns input-state">
        <input type="text" placeholder="State">
      </div>
      <div class="large-6 columns input-zip">
        <input type="text" placeholder="ZIP">
      </div>
      <div class="large-12 columns row">
      <select class="select-country">
        <option value="belarus">Belarus</option>
        <option value="canada">Canada</option>
        <option value="israel">Israel</option>
        <option value="ukraine">Ukraine</option>
        <option value="usa">United States</option>
      </select>
      </div>
      <div class="large-12 columns row">
        <a href="netflix.html" type="button" class="success-btn button large-12">Finish</a>
      </div>
    </form>
  </div>
</div>
<div class="signup-bottom">
  <span>&nbsp;</span>
</div>
