<!-- Footer -->
<footer id="footer">
  <div class="footer-body">
    <div class="row">
      <div class="large-5 large-offset-1 columns">
        <div class="small-6 medium-3 large-4 columns">
          <h6>Meet Playfare</h6>
          <ul class="footer-links">
            <li>&nbsp;</li>
            <li><a href="#">Features</a></li>
            <li><a href="#">How it Works</a></li>
            <li><a href="#">Supportes services</a></li>
            <li><a href="#">Support</a></li>
          <ul>
        </div>
        <div class="large-4 columns">
          <h6>Video Service<br>Providers</h6>
          <ul class="footer-links">
            <li><a href="#">For service providers</a></li>
            <li><a href="#">Integrations</a></li>
            <li><a href="#">Documentation</a></li>
          <ul>
        </div>
        <div class="large-4 columns">
          <h6>Company</h6>
          <ul class="footer-links">
            <li>&nbsp;</li>
            <li><a href="#">About Playfare</a></li>
            <li><a href="#">Meet the team</a></li>
            <li><a href="#">Careers</a></li>
          <ul>
        </div>
      </div>
      <div class="small-12 medium-3 large-2 columns logo-simple">
        <img src="assets/img/logo-simple.png"></img>
      </div>
    </div>
    <div class="row ">
      <div class="footer-socket large-10 large-offset-1 columns">
        <a href="#">Privacy</a>
        <span> - </span>
        <a href="#">Terms and Conditions</a>
        <span> - </span>
        <a href="#">Contact</a>
        <span> - </span>
        <span> - </span>
        <span> - </span>
        <span>Playfare &copy; 2016. All rights reserved.</span>
      </div>
    </div>
  </div>
</footer>
