<!-- Footer -->
<footer id="footer">
  <div class="footer-body footer-login-body">
    <div class="row">
      <div class="small-12 medium-3 large-2 offset-large-6 columns logo-simple logo-login-simple">
        <img src="assets/img/logo-simple-white.png"></img>
      </div>
    </div>
    <div class="row ">
      <div class="footer-socket large-10 large-offset-1 columns">
        <a href="#">Privacy</a>
        <span> - </span>
        <a href="#">Terms and Conditions</a>
        <span> - </span>
        <a href="#">Contact</a>
        <span> - </span>
        <span> - </span>
        <span> - </span>
        <span>Playfare &copy; 2016. All rights reserved.</span>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
</footer>
