<div class="row forgot-body">
  <form class="row large-3 forgot-form">
    <div class="back-link">
      <a href="#">Go Back</a>
    </div>
    <div class="large-12 form-title">
      <h5>Hey, it happens</h5>
    </div>
    <div class="large-12 forgot-text columns">
      <span >Enter Your Email and we'll send You<br> a link to reset Your password.</span>
    </div>
    <div class="large-12">
      <input type="email" placeholder="Email">
    </div>
    <div class="large-12">
      <a href="#" type="button" class="success-btn button large-12">Send</a>
    </div>
  </form>
</div>
