<!-- Header -->
<header class="row expanded large-12 header sticky" data-sticky data-margin-top="0" style="z-index: 9999">
  <div class="top-bar row large-10">
    <div class="top-bar-title medium-3 large-4">
      <!--span data-responsive-toggle="responsive-menu" data-hide-for="medium">
        <button class="menu-icon dark" type="button" data-toggle></button>
      </span-->
      <a href="index.html">
        <img src="assets/img/home-logo.png"></img>
      </a>
    </div>
    <div id="responsive-menu">
      <div class="top-bar-left">
        <ul class="dropdown menu row" data-dropdown-menu>
          <li class="active">
            <a href="my-zone.html">Dashboard</a>
          </li>
          <li>
            <a href="account.html">Account</a>
          </li>
          <li>
            <a href="support.html">Support</a>
          </li>
        </ul>
      </div>
      <div class="top-bar-right">
        <div class="row columns large-12">
          <button class="dropdown button large-12 profile-header" type="button" data-toggle="profile-drop-down">
            <img class="large-6 columns" src="assets/img/profile-photo.png"></img>
            <span class="large-6 columns profile-header-name">Zac</span>
          </button>
          <div class="dropdown-pane" id="profile-drop-down" data-dropdown data-auto-focus="false">
            <ul>
              <li>Dashboard</li>
              <li>Account Settings</li>
              <li>Add Funds</li>
              <li>Log Off</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>