<!-- Header -->
<header class="header">
  <div class="top-bar row large-9">
    <div class="top-bar-title medium-3 large-4">
      <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
        <button class="menu-icon dark" type="button" data-toggle></button>
      </span>
      <strong>Site Title</strong>
    </div>
    <div id="responsive-menu">
      <div class="top-bar-left">
        <ul class="dropdown menu row" data-dropdown-menu>
          <li><a href="features.html">Features</a></li>
          <li><a href="pricing.html">Pricing</a></li>
          <li><a href="company.html">Company</a></li>
          <li><a href="support.html">Support</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><button class="hollow button small" href="#">Login</button></li>
          <li><button type="button" class="button small">Sign up</button></li>
        </ul>
      </div>
    </div>
  </div>
</header>
