<!-- Header -->
<header class="row expanded large-12 header sticky" data-sticky data-margin-top="0" style="z-index: 999">
  <div class="top-bar row large-10">
    <div class="top-bar-title large-3">
      <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
        <button class="menu-icon dark" type="button" data-toggle></button>
      </span>
      <a href="index.html">
        <img src="assets/img/home-logo.png"></img>
      </a>
    </div>
    <div id="responsive-menu">
      <div class="top-bar-left large-6 columns">
        <ul class="dropdown menu large-10 row" data-dropdown-menu>
          <li><a href="features.html">Features</a></li>
          <li><a href="pricing.html">Pricing</a></li>
          <li><a href="company.html">Company</a></li>
          <li><a href="support.html">Support</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>
      <div class="top-bar-right large-6 columns">
        <ul class="menu">
          <li><a data-open="login-form-modal" class="hollow button small">Login</a><!--button class="hollow button small" href="login.html">Login</button--></li>
          <li><a href="signup.html" class="button small">Sign up</a><!--button type="button" class="button small" href="signup.html">Sign up</button--></li>
        </ul>
        {{> login_form}}
        {{> forgot_form}}
      </div>
    </div>
  </div>
</header>
