
<div id="main">
  {{> home_slider}}
  <article id="how-it-works">
    <div class="section-title row title-white">
      <h2 class="">How It Works</h2>
    </div>
    <div class="large-9 xlarge-7 xxlarge-5 content">
      <div class="large-3 columns icons">
        <div class="row">
          <div class="icon-number">
            <h2>1</h2>
          </div>
          <div class="icon">
            <img src="assets/img/icon-home-1.png" />
          </div>
        </div>
        <div class="row icon-caption">
          <span>Start Your Free Trial.<br> It tales a minute.</span>
        </div>
      </div>
      <div class="large-3 columns icons">
        <div class="icon-number">
          <h2>2</h2>
        </div>
        <div class="icon">
          <img src="assets/img/icon-home-2.png" />
        </div>
        <div class="icon-caption">
          <span>Use Playfare with any of the video sites below to watch You favorite content. Anywhere.</span>
        </div>
      </div>
      <div class="large-3 columns icons">
        <div class="icon-number">
          <h2>3</h2>
        </div>
        <div class="icon">
          <img src="assets/img/icon-home-3.png" />
        </div>
        <div class="icon-caption">
          <span>Start Your Free Trial.<br> It tales a minute.</span>
        </div>
      </div>
      <div class="large-3 columns icons">
        <div class="icon-number">
          <h2>4</h2>
        </div>
        <div class="icon">
          <img src="assets/img/icon-home-4.png" />
        </div>
        <div class="icon-caption">
          <span>Start Your Free Trial.<br> It tales a minute.</span>
        </div>
      </div>
    </div>
  </article>
  <article  id="where-can-i-use">
    <div class="section-title row title-pink">
      <h2 class="">Where can I use Playfare?</h2>
    </div>
    <div class="row see-all">
      <a class="simple-link" href="#">See all</a>
    </div>
    <div class="large-9 xxlarge-5 partners content">
      <div class="logos">
        <div class="logo netflix">
          <a href="#"><img src="assets/img/netflix.png"></img></a>
        </div>
        <div class="logo hulu">
          <a href="#"><img src="assets/img/hulu.png"></img></a>
        </div>
        <div class="logo abc">
          <a class="abc" href="#"><img src="assets/img/abc.png"></img></a>
        </div>
        <div class="logo hbo">
          <a class="hbo" href="#"><img src="assets/img/hbo.png"></img></a>
        </div>
        <div class="logo hulu">
          <a class="hulu" href="#"><img src="assets/img/hulu.png"></img></a>
        </div>
        <div class="logo hbo">
          <a class="hbo" href="#"><img src="assets/img/hbo.png"></img></a>
        </div>
        <div class="logo hulu">
          <a class="hulu" href="#"><img src="assets/img/hulu.png"></img></a>
        </div>
        <div class="logo netflix">
          <a class="netflix" href="#"><img src="assets/img/netflix.png"></img></a>
        </div>
        <div class="logo abc">
          <a class="abc" href="#"><img src="assets/img/abc.png"></img></a>
        </div>
      </div>
    </div>
  </article>
  <article  id="call-to-action">
    <div class="row cta-body">
      <div class="cta-button">
        <button type="button" class="large button large-4">Sign up</button>
      </div>
      <div class="cta-description">
        <span>and start watching!</span>
      </div>
    </div>
  </article>
</div>
