<div id="main" class="row my-zone">
  <div class="columns large-4">
    <div class="profile-main">
      <div class="row profile-head">
      </div>
      <div class="row profile-name">
      </div>
      <div class="row profile-credit">
      </div>
      <div class="row profile-add-funds">
      </div>
    </div>
    <div class="month-used">
      <div class="row month-title">
      </div>
      <div class="row month-value">
      </div>
      <div class="row month-edit-limit">
      </div>
    </div>
  </div>
  <div class="columns large-8">
    <div class="my-zone-main">
      <div class="row zone-title">
        <div class="columns large-6">
          <h5>
            
          </h5>
        </div>
        <div class="columns large-6 save-changes">
          <button>
            
          </button>
        </div>
      </div>
      <div class="row zone-personal">
        <div class="columns large-3 personal-photo">
          <img src="">
            
          </img>
        </div>
        <div class="columns large-6 personal-data">
          <form>
            
          </form>
        </div>
      </div>
      <div class="row zone-payment">
        <div class="columns large-7 payment-methods">
          <div>
            
          </div>
        </div>
        <div class="columns large-5 billing-adress">
          {{> billing_form}}
        </div>
      </div>
      <div class="row zone-limit">
        <form>
          <div class="large-6 columns auto-stop">
            
          </div>
          <div class="large-6 columns limit-value">
            
          </div>
        </form>
      </div>
      <div class="row zone-buttons">
        <div class="large-6 columns zone-delete">
          
        </div>
        <div class="large-6 columns zone-save">
          
        </div>
      </div>
    </div>
  </div>
</div>
