<div id="main" class="row columns my-zone">
  <div class="large-10 large-offset-1">
  <div class="row">
    <div class="columns large-3">
      <div class="profile-main">
        <div class="profile-head">
          <div class="profile-photo">
            <img src="assets/img/profile-photo.png"></img>
          </div>
        </div>
        <div class="profile-name">
          <h3>Zac Davids</h3>
          <a href="my-zone.html">View Dashboard</a>
        </div>
        <div class="profile-credit">
          <h4>Current credit</h4>
          <span>$120.00</span>
        </div>
        <div class="profile-add-funds">
          <a href="#" type="button" class="success-btn button large-12">Add Funds</a>
        </div>
      </div>
      <div class="month-used">
        <div class="month-title">
          <h4>This month You used:</h4>
        </div>
        <div class="month-value">
          <h3>84%</h3>
          <div class="progress large-8 large-offset-2" role="progressbar" tabindex="0" aria-valuenow="84" aria-valuemin="0" aria-valuetext="84 percent" aria-valuemax="100">
            <div class="progress-meter" style="width: 84%"></div>
          </div>
          <span>$26.5 of $30.0 Limit</span>
        </div>
        <div class="month-edit-limit">
          <a href="#">Edit Play Limit</a>
        </div>
      </div>
    </div>
    <div class="columns large-9">
      <div class="my-zone-main">
        <div class="row columns zone-title">
          <div class="columns large-6">
            <h4>My account</h4>
          </div>
          <div class="columns large-6 save-changes">
            <a href="#" type="button" class="success-btn button large-6">Save Changes</a>
          </div>
        </div>
        <div class="row columns zone-personal">
          <div class="columns large-2">
            <div class="row personal-photo">
              <img src="assets/img/profile-photo.png"></img>
            </div>
            <div class="row columns">
              <a href="#">Change Picture</a>
            </div>
          </div>
          <div class="columns large-5 end personal-data">
            <form>
              <div class="large-6 columns input-firstname">
                <input type="text" placeholder="First" value="Zac">
              </div>
              <div class="large-6 columns input-lastname">
                <input type="text" placeholder="Last" value="Davids">
              </div>
              <div class="large-12 columns row">
                <input type="email" placeholder="Email" value="zac.davids@gmail.com">
              </div>
            </form>
            <div class="row columns">
              <a href="#">Change Password</a>
            </div>
          </div>
        </div>
        <div class="row columns zone-payment">
          <div class="columns large-7 payment-methods">
            <div>
              
            </div>
          </div>
          <div class="columns large-5 billing-adress">
            <form class="row large-12 billing-form">
              <div class="large-12 form-title">
                <h5>My billing address</h5>
              </div>
              <div class="large-12 columns row input-full-name">
                <input type="text" placeholder="Zac Davids">
              </div>
              {{> billing_form}}
            </form>
          </div>
        </div>
        <div class="row columns zone-limit">
          <form>
            <div class="large-6 columns auto-stop">
              
            </div>
            <div class="large-6 columns limit-value">
              
            </div>
          </form>
        </div>
        <div class="row columns zone-buttons">
          <div class="large-6 columns zone-delete">
            
          </div>
          <div class="large-6 columns zone-save">
            
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
