<div class="netflix-main">
  <div class="row large-6 netflix-body">
    <div class="large-5 columns netflix-img">
      <img src="assets/img/signup-img.png"></img>
    </div>
    <div class="large-7 columns">
      <form class="row netflix-form">
        <div class="large-12 form-title">
          <h6>Allow Playfare to manage Your<br>billing with Netflix?</h6>
        </div>
        <div class="large-12">
          <button type="button" class="button btn-facebook large-12">Sign in with Facebook</button>
        </div>
        <div class="large-12">
          <button type="button" class="button btn-google large-12">Sign in with Google</button>
        </div>
        <hr>
        <div class="large-12">
          <input type="email" placeholder="Email">
        </div>
        <div class="large-12">
          <input type="password" placeholder="Password">
        </div>
        <div class="large-12">
          <a href="my-zone.html" type="button" class="success-btn button large-12">Sign in & allow</a>
        </div>
        <div class="large-6 signup-link columns">
          <a href="signup.html">I want an Account</a>
        </div>
        <div class="large-6 forgot-link columns">
          <a href="forgot.html">Forgot Password</a>
        </div>
      </form>
    </div>
    <div class="netflix-close">
      <a href="#"><img src="assets/img/close-icon.png"></a></img>
    </div>
  </div>
  <div class="netflix-bottom">
    <span>&nbsp;</span>
  </div>
</div>
