  <div class="large-4 large-offset-2 columns">
    <img src="assets/img/signup-img.png"></img>
  </div>
  <div class="large-5 large-offset-1 columns">
    <form class="row large-8 signup-form">
      <div class="large-12 form-title">
        <h5>Sign up to Playfare</h5>
      </div>
      <div class="large-12">
        <button type="button" class="button btn-facebook large-12">Sign in with Facebook</button>
      </div>
      <div class="large-12">
        <button type="button" class="button btn-google large-12">Sign in with Google</button>
      </div>
      <hr>
      <div class="large-6 columns input-firstname">
        <input type="text" placeholder="First">
      </div>
      <div class="large-6 columns input-lastname">
        <input type="text" placeholder="Last">
      </div>
      <div class="large-12 columns row">
        <input type="email" placeholder="Email">
      </div>
      <div class="large-12 columns row">
        <input type="password" placeholder="Password">
      </div>
      <div class="large-12 columns row">
        <input type="password" placeholder="Repeat Password">
      </div>
      <div class="large-12 columns row">
        <a href="netflix.html" type="button" class="success-btn button large-12">Next</a>
      </div>
      <div class="large-12 signup-link columns">
        <a href="login.html">I already have an Account</a>
      </div>
    </form>
  </div>